nav a {
  color: #ff0000;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  text-transform: uppercase;
}
nav a:hover {
  color: #ff5733 !important;
}
nav li {
  list-style: none;
  border: none;
  display: inline;
  padding: 10px;
}

.palos {
  width: 300px;
  height: 250px;
  border: 0.5px solid;
}

.logoprincial {
  height: 100px;
}

.btnenviar {
  background-color: white;
  border-color: #ff5733;
  color: black;
}

.web-container {
  margin: auto;
  max-width: 1300px;
}

.sale-background {
  background-size: 150px;
  background-image: url("../img/fondo-ofertas.avif");
  background-repeat: repeat;
}

.derecho {
  background-color: white;
}

.ofertas {
  text-decoration: none;
  font-size: 1rem;
}
.ofertas:hover {
  color: black;
  text-decoration: underline;
  transform: translate(8px, 10px);
}

.hockey {
  background-color: #f5f5f5;
}

.contenedor-palos {
  background-color: #f5f5f5;
  border: 1px solid gray;
}

.cdestacados {
  color: white;
  background-color: black;
  padding: 15px;
}

.coferta {
  color: #3366CC;
  font-family: Arial, Helvetica, sans-serif;
}

.contac {
  color: #666666;
}

h1 {
  color: #0077B5;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.accordion-item {
  background-color: #f5f5f5;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.cpalos {
  color: #3366CC;
  padding: 5px;
}

.btn-cart {
  --bs-btn-color: $color-botns;
  --bs-btn-bg: $iconos;
  --bs-btn-border-color: $color-botns;
  --bs-btn-hover-color: white;
  --bs-btn-hover-border-color: $color-botns;
  --bs-btn-hover-bg: $color-botns;
  margin-bottom: 15px;
}

.btnenviar {
  background-color: white;
  border-color: #ff5733;
  color: black;
}

.iconos {
  color: black;
  font-size: 25px;
  margin: 20px;
  font-family: "Courier New", Courier, monospace;
}
.iconos i:hover {
  color: #ff5733;
  cursor: pointer;
}

.btnenviar {
  background-color: white;
  border-color: #ff5733;
  color: black;
}

.btnenviar {
  margin-bottom: 15px;
}

.header {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.palos {
  width: 300px;
  height: 250px;
  border: 0.5px solid;
}

.logoprincial {
  height: 100px;
}

.btnenviar {
  background-color: white;
  border-color: #ff5733;
  color: black;
}

.btheader {
  border: 2px solid gray;
  color: #ff5733;
}
.btheader:hover {
  background-color: gray;
  color: white;
  border: solid gray 2px;
}

.web-container {
  margin: auto;
  max-width: 1300px;
}

.iconos {
  color: black;
  font-size: 25px;
  margin: 20px;
  font-family: "Courier New", Courier, monospace;
}
.iconos i:hover {
  color: #ff5733;
  cursor: pointer;
}

.hockey {
  background-color: #f5f5f5;
}

.contenedor-palos {
  background-color: #f5f5f5;
  border: 1px solid gray;
}

.carousel-indicators {
  filter: invert(100%);
}

.btn-cart {
  --bs-btn-color: #ffa500;
  --bs-btn-bg: white;
  --bs-btn-border-color: #ffa500;
  --bs-btn-hover-color: white;
  --bs-btn-hover-border-color: #ffa500;
  --bs-btn-hover-bg: #ffa500;
  margin-bottom: 15px;
}

.sale-background {
  background-size: 150px;
  background-image: url("../img/fondo-ofertas.avif");
  background-repeat: repeat;
}

.derecho {
  background-color: white;
}

.ofertas {
  text-decoration: none;
  font-size: 1rem;
}
.ofertas:hover {
  color: black;
  text-decoration: underline;
  transform: translate(7px, 9px);
}

.accordion-item {
  background-color: #F5F5F5;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.accesorios {
  color: #666666;
}

.coferta {
  color: #3366CC;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

/*# sourceMappingURL=styles.css.map */
