.web-container {
    margin: auto;
    max-width: 1300px;
  }

  .sale-background {
    background-size: 150px;
    background-image: url("../img/fondo-ofertas.avif");
    background-repeat: repeat;
  }
  
  .derecho{
    background-color: white;
  }
  
  .ofertas{ 
    text-decoration: none;
    font-size: 1rem;
   
    &:hover{
      color:$iconos-nav;
      text-decoration: underline;
      transform: translate(8px, 10px);
     }
  }

 .separador-arriba{
  margin-top: 50px;
 }