.web-container {
    margin: auto;
    max-width: 1300px;
  }

  
  .sale-background {
    background-size: 150px;
    background-image: url("../img/fondo-ofertas.avif");
    background-repeat: repeat;
  }
  
  
  h1 {
    background: linear-gradient(to right, #ff5500, #ff7700, #ff9900);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 36px;
    font-family: Arial, sans-serif;
  }

  .derecho{
    background-color: white;
  }
  
  .ofertas{ 
    text-decoration: none;
    font-size: 1rem;
   
    &:hover{
      color:$iconos-nav;
      text-decoration: underline;
      transform: translate(8px, 10px);
     }
  }

 .separador-arriba{
  margin-top: 50px;
 }