.hockey {
    background-color: $background-color;
  }
  
  .contenedor-palos {
    background-color: $background-color;
    border: 1px solid gray;
  }
  
  .cdestacados{ 
    color: white;
    background-color: $background-secuandario;
    margin-top: 50px;
    padding: 15px;
  }

.coferta{
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  padding: 15px;
  background-color: grey;
}

.contac{
  color:   black;
  margin-top: 50px;
  padding: 15px;
  background-color:  #807e7e;
  font-family: Arial, Helvetica, sans-serif;
}

.accordion-item{
  background-color: $background-color;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cpalos{
    color:   #3366CC;
    padding: 15px;
    margin-top: 50px;
    background-color: $background-secuandario;
}
  