.hockey {
    background-color: $background-color;
  }
  
  .contenedor-palos {
    background-color: $background-color;
    border: 1px solid gray;
  }
  
  .cdestacados{ 
    color: white;
    background-color: $background-secuandario;
    padding: 15px;
  }

.coferta{
  color: #3366CC;
  font-family: Arial, Helvetica, sans-serif;
  
}

.contac{
  color: #666666;
}

h1{ 
  color: $color-principal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.accordion-item{
  background-color: $background-color;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .cpalos{
    color:   #3366CC;
    padding: 5px;
  }
  