.hockey {
    background-color: $background-color;
  }
  
  .contenedor-palos {
    background-color: $background-color;
    border: 1px solid gray;
  }
  
  .cdestacados{ 
    color: white;
    background-color: black;
    margin-top: 50px;
    padding: 15px;
  }

.coferta{
  color: #3366CC;
  font-family: Arial, Helvetica, sans-serif;
  
}

.contac{
  color: #666666;
}

h1{ 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(to right,  #0077B5,  #00A6ED, #7FB3D0);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;

}

.accordion-item{
  background-color: $background-color;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .cpalos{
    color:   #3366CC;
    padding: 5px;
    margin-top: 50px;
  }
  