@import "variables";
@import "nav";
@import "components";
@import "layout";
@import "seccionytipografia";
@import "botoneiconos";

%generic-button {
  background-color: white;
  border-color: $activo;
  color: black;
}

.btnenviar {
  @extend %generic-button;
  margin-bottom: 15px;
}

%header {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.header {
  @extend %header;
}

.palos {
  width: 300px;
  height: 250px;
  border: 0.5px solid;
}

.btnenviar {
  background-color: white;
  border-color: $activo;
  color: black;
}

.btheader {
  border: 2px solid gray;
  color: $activo;

  &:hover {
    background-color: gray;
    color: white;
    border: solid gray 2px;
  }
}

.web-container {
  margin: auto;
  max-width: 1300px;
}

.iconos {
  color: $iconos-nav;
  font-size: 25px;
  margin: 20px;
  font-family: "Courier New", Courier, monospace;

  i:hover {
    color: $activo;
    cursor: pointer;
  }
}

.hockey {
  background-color: #f5f5f5;
}

.contenedor-palos {
  background-color: #f5f5f5;
  border: 1px solid gray;
}

.carousel-indicators {
  filter: invert(100%);
}

.btn-cart {
  --bs-btn-color: #ffa500;
  --bs-btn-bg: white;
  --bs-btn-border-color: #ffa500;

  --bs-btn-hover-color: white;
  --bs-btn-hover-border-color: #ffa500;
  --bs-btn-hover-bg: #ffa500;
   margin-bottom: 15px;
   
}


.derecho{
  background-color: white;
}

.ofertas{ 
  text-decoration: none;
  font-size: 1rem;
 
  &:hover{
    color:$iconos-nav;
    text-decoration: underline;
    transform: translate(7px, 9px);
   }
}

